<div class="select-selected" data-editor-id="{{selectedEditorId}}">
    {{selectedName}}
</div>
<div class="select-items" style="top: {{styleTop}}px;">
    {{#each options}}
        <div data-editor-id="{{selectEditorId}}" data-index={{@index}} {{#if selected}}class="same-as-selected"{{/if}}>
            {{selectName}}
        </div>
    {{/each}}
</div>